@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  margin-bottom: 40px;
}
.week,
.date_list {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, auto));
  text-align: center;
}

.date_list {
  grid-template-rows: repeat(6, minmax(20px, auto));
}

.row-container {
  display: flex;
  flex-direction: row;
}
