body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.week,
.date_list {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, auto));
  text-align: center;
}

.row-container {
  display: flex;
  flex-direction: row;
}
